%h1 #{@user.name}

%p Hello, #{link_to "@#{@user.username}", github_url(@user.username)}

%p
  = link_to image_tag(@user.avatar_url, size: '20x20'), github_url(@user.username)
  = @user.email
  - if @user.active?
    (Verified)
  - else
    (Not verified yet.)

= link_to 'Watched repository ranking', activities_watches_path

%h2 Your watching repositories:
(Within 7 days from now)
%ul
- @watch_event.each do |watch_event|
  %li
    = link_to(watch_event['repo']['name'], github_url(watch_event['repo']['name']))
    = time_ago_in_words watch_event.created_at
- if @watch_event.empty?
  Not watched.

%h2 Watched Your repositories:
(Within 7 days from now)
%ul
- @watched_event.each do |watched_event|
  %li
    = link_to(watched_event['repo']['name'], github_url(watched_event['repo']['name']))
    = time_ago_in_words watched_event.created_at
- if @watched_event.empty?
  Not watched.

%h2 Menu
%div
  = link_to 'Edit email', settings_email_path
