- @title = 'Your Dashboard'

%h1 #{@user.name}

%p Hello, #{link_to "@#{@user.username}", github_url(@user.username)}

%p
  = image_link_to_github_url(@user)
  = @user.email
  - if @user.active?
    (Verified)
  - else
    (Not verified yet.)
    = link_to 'Send confirmation mail', send_confirmation_settings_email_path

%h2 Repositories you starred recently:
(Within 7 days from now)
%ul
- @star_events.each_with_repo do |star_event, repo|
  %li
    = image_link_to_github_url repo.owner
    %span.repo_name
      = link_to_repo repo.full_name
    = link_to_stargazers(repo)
    %span.starred_at
      = time_ago_in_words star_event.created_at
    %div
      %span.description
        = repo.description
- if @star_events.empty?
  Not starred.

%h2 Your repositories recently starred by someone:
(Within 7 days from now)
%ul
- @starred_events.starred_ranking.each do |repo_name, events, repo|
  %li
    %span.repo_name
      = link_to_repo repo_name
    = link_to_stargazers(repo)
    %span.stargazers
      - events.each do |event|
        = image_link_to_github_url_from_event(event)
        %span.starred_at
          = time_ago_in_words event.created_at
    %div
      %span.description
        = repo.description
- if @starred_events.empty?
  Not starred.

%h2 Menu
(You can receive daily mail about starred repositories by your followings.)
%div
  = link_to 'Edit email', settings_email_path
