%h1 #{@user.name}

%p Hello, #{link_to "@#{@user.username}", github_url(@user.username)}

%p
  = link_to image_tag(@user.avatar_url, size: '20x20'), github_url(@user.username)
  = @user.email
  - if @user.active?
    (Verified)
  - else
    (Not verified yet.)
    = link_to 'Send confirmation mail', send_confirmation_settings_email_path

%h2 Repositories you watched recently:
(Within 7 days from now)
%ul
- @watch_events.each_with_repo do |watch_event, repo|
  %li
    = link_to_repo repo.full_name
    = link_to_watchers(repo)
    = time_ago_in_words watch_event.created_at
- if @watch_events.empty?
  Not watched.

%h2 Your repositories recently watched by someone:
(Within 7 days from now)
%ul
- @watched_events.watched_ranking.each do |repo_name, events, repo|
  %li
    = link_to_repo repo_name
    %span.watchers
      = link_to_watchers(repo)
      - events.each do |event|
        = image_link_to_github_url_from_event(event)
        = time_ago_in_words event.created_at
- if @watched_events.empty?
  Not watched.

%h2 Menu
(You can receive daily mail about watched repository ranking.)
%div
  = link_to 'Edit email', settings_email_path
