%h1 Dashboard#index

%p Hello, #{@user.name}

%p
  = link_to image_tag(@user.avatar_url, size: '20x20'), github_url(@user.username)

= link_to 'Edit email', settings_email_path
= link_to 'Edit subscribe', settings_subscribe_path
= link_to 'Watched repository ranking', activities_watches_path
