%h1 #{@user.name}

%p Hello, #{link_to "@#{@user.username}", github_url(@user.username)}

%p
  = link_to image_tag(@user.avatar_url, size: '20x20'), github_url(@user.username)
  = @user.email
  - if @user.active?
    (Verified)
  - else
    (Not verified yet.)
    = link_to 'Send confamation mail', send_confirmation_settings_email_path

%h2 Your watching repositories:
(Within 7 days from now)
%ul
- @watch_events.each do |watch_event|
  %li
    = link_to(watch_event['repo']['name'], github_url(watch_event['repo']['name']))
    = time_ago_in_words watch_event.created_at
- if @watch_events.empty?
  Not watched.

%h2 Watched Your repositories:
(Within 7 days from now)
%ul
- @watched_events.watched_ranking.each do |repo_name, events|
  %li
    = link_to(repo_name, github_url(repo_name))
    - events.each do |event|
      = image_link_to_github_url_from_event(event)
      = time_ago_in_words event.created_at
- if @watched_events.empty?
  Not watched.

%h2 Menu
(You can receive daily mail about watched repository ranking.)
%div
  = link_to 'Edit email', settings_email_path
