= image_link_to_github_url(@user, '40x40')
= @user.username

%h2 Repositories #{link_to @user.username, github_url(@user.username)} starred recently:
(Within 7 days from now)
%ul
  - @star_events.each_with_repo do |star_event, repo|
    %li
      = image_link_to_github_url repo.owner
      %span.repo_name
        = link_to_repo repo.full_name
      = link_to_stargazers(repo)
      %span.starred_at
        = time_ago_in_words star_event.created_at
      %div
        %span.description
          = repo.description

- if @star_events.empty?
  Not starred.
