= link_to(image_tag(@user.avatar_url, size: '40x40'), github_url(@user.username))
= @user.username

%h2 Repositories #{link_to @user.username, github_url(@user.username)} watched recently:
(Within 7 days from now)
%ul
  - @watch_events.each_with_repo do |watch_event, repo|
    %li
      = link_to_repo repo.full_name
      = link_to_watchers(repo)
      = time_ago_in_words watch_event.created_at
      %div
        %span.description
          = repo.description

- if @watch_events.empty?
  Not watched.
