%h1 Editing receive email

= form_for @user, url: settings_receive_mail_path do |f|

  .field
    = f.label :receive_mail
    = f.check_box :receive_mail
  .actions
    = f.submit 'Save'

= link_to 'Back', dashboard_path
