#catch-phrase
  Seek your following's stars!

%section#members
  Starseekers:

  %ul
    - @users.each do |user|
      %li
        = link_to stars_path(user.username) do
          = avatar_image_tag(user, '52x52')

%section#usage
  %ol
    %li Sign in with your github account.
    %li Setup your email settings.
    %li You can receive daily mail for starred repositories by your followings!

  (mail sample)
  = image_tag 'sample-mail.png'

  %span.join-us
    - if logged_in?
      = link_to 'Let\'s go on a journey to seek for your stars!', github_url, target: :_blank
    - else
      = link_to 'Sign in with GitHub', '/auth/github', method: :post

= content_for :outside_content do
  <a href="https://github.com/tricknotes/starseeker"><img style="position: absolute; top: 0; right: 0; border: 0; decoding="async" loading="lazy" width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_orange_ff7600.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
