%h1 Editing receive email

= form_for @user, url: settings_subscribe_path do |f|

  .field
    = f.label :subscribe
    = f.check_box :subscribe
  .actions
    = f.submit 'Save'

= link_to 'Back', dashboard_path
