%h1
  Daily ranking:
Watched repositories by #{@user.username}'s followings

%ul
  - @watch_events.watched_ranking.each do |repo_name, events|
    - repo = events.first.repository!
    %li.repo
      %div
        = link_to_repo repo_name
        - events.each do |event|
          = image_link_to_github_url_from_event(event)
        %span.watchers
          = link_to_watchers(repo)
      %div
        %span.description
          = repo.description
