%h1
  Daily ranking
Watched repositories by #{@user.username}'s followings

%ul
  - @watch_events.watched_ranking.each do |repo_name, events, repo|
    %li.repo
      %div
        %span.repo_name
          = link_to_repo repo_name
        = link_to_stargazers(repo)
        %span.stargazers
          - events.each do |event|
            = image_link_to_github_url_from_event(event)
      %div
        %span.description
          = repo.description
