!!! html
%html
  %head
    %title WatchMen
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %h1
      = link_to 'WatchMen', Settings.base_url
    - if logged_in?
      = link_to 'ranking', activities_watching_path
      = link_to 'dashboard', dashboard_path
      = link_to 'Logout', logout_path, method: :delete if logged_in?
    - else
      = link_to 'Sign in with GitHub', auth_at_provider_path(provider: :github)
    %p#notice= notice
    %p#alert= alert

    = yield
