!!! html
%html
  %head
    %title WatchMen
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = link_to 'Logout', logout_path, method: :delete if logged_in?
    %p#notice= notice

    = yield
