!!! html
%html
  %head
    - page_title = [@title, 'starseeker'].compact.join(' | ')
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    - # OGP
    %meta{property: 'og:title',       content: page_title}
    %meta{property: 'og:description', content: 'Seek your following\'s stars!'}
    %meta{property: 'og:type',        content: 'website'}
    %meta{property: 'og:url',         content: request.url}
    - if @og_image # TODO Set default image
      %meta{property: 'og:image',     content: @og_image}
    %meta{property: 'og:site_name',   content: 'starseeker'}

    = yield :head

  %body
    %header
      %h1
        = link_to 'starseeker', Settings.base_url
      %nav
        %ul
          - if logged_in?
            %li= link_to 'Hot repositories', hot_repositories_path
            %li= link_to 'dashboard', dashboard_path
            %li= link_to 'Logout', logout_path, method: :delete
          - else
            %li= link_to 'Sign in with GitHub', '/auth/github'
      %p#notice= notice
      %p#alert= alert

    = yield :outside_content

    #content
      = yield

    %footer
      %span
        © 2012-2013 Ryunosuke SATO(#{ link_to '@tricknotes', github_url('tricknotes') }). All rights reserved.
